/*animazione relativa al login*/
.redMoto{
    width: 80px;
    height: 80px;
    position: relative;
    animation-name: motoLogin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } 
  @keyframes motoLogin {
    0%   { left:-80px; top:-30px;}
    25%  { left:265px; top:-30px;}
    50%  { left:265px; top:-220px;}
    75%  { left:-80px; top:-220px;}
    100% { left:-80px; top:-30px;}
  }
 .blueMoto{
    width: 80px;
    height: 80px;
    position: relative;
    animation-name: motoBlue;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } 
  @keyframes motoBlue {
    0%   { left:-80px; top:-110px;}
    25%  { left:265px; top:-110px;}
    50%  { left:265px; top:-220px;}
    75%  { left:-80px; top:-220px;}
    100% { left:-80px; top:-110px;}
  }
