.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 0.8rem;
}
.bg-gray {
    background-color: #f0f2f5;
}
@media (min-width: 62em) {
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
.blue-martini {
    color: #101E4E ;
}
.btn-blueMartini {
    background-color: #101E4E ;
    color: #fff;
}
.red-martini {
    color: #E4002B;
}
.bg-redMartini {
    background-color: #E4002B;
}
.ciano-martini {
    color: #96C4E8;
}
.bg-cianoMartini {
    background-color: #96C4E8;
}

<!-- HTML !-->
<button class="button-36" role="button">Button 36</button>

